<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>

<body>
<div class="row">
    <div class="col bg-dark">
        <nav class="navbar navbar-light bg-dark">
            <span class="navbar-text text-white">
                <b> <td th:utext="${user.getEmail()}"></td> </b>
                <td>with roles:</td>
                <td th:each="role : ${user.getRoles()}" th:text="${role.getName()}"></td>
            </span>
            <a class="nav-link text-secondary font-weight-bold text-right" href="/logout">Logout</a>
        </nav>
    </div>
</div>

<div class="row mt-5">
    <div class="col-2 fixed-left">
        <ul class="nav nav-tabs my-2 flex-column nav-pills">

            <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item">
                <a class="nav-link" href="/admin">Admin</a>
            </li>

            <li class="nav-item">
                <a class="nav-link active" href="/user">User</a>
            </li>
        </ul>
    </div>

    <div class="col my-3 mx-3 tab-content">
        <div class="tab-pane active">
            <h2>User-information page</h2>
            <div id="nav-home" class="tab-pane fade show active" role="tabpanel" aria-labelledby="nav-home-tab">
                <p><strong>About user</strong></p>
                <div class="table-responsive table-bordered">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Age</th>
                            <th scope="col">Email</th>
                            <th scope="col">Role</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td th:text="${user.getId()}">ID</td>
                            <td th:text="${user.getUsername()}">Name</td>
                            <td th:text="${user.getAge()}">Age</td>
                            <td th:text="${user.getEmail()}">Email</td>
                            <td th:each="role : ${user.getRoles()}" th:text="${role.name}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>